body, h1, h2, p {
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  flex: 1; 
}

.logo h1 {
  margin: 0;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

nav ul li {
  margin-left: 20px;
}

nav ul li:first-child {
  margin-left: auto; 
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}


.hero {
  padding: 20px; 
  background-color: #f8f9fa; 
  text-align: center;
  margin-top: 80px;
}

.about {
  padding: 0px 0; /* Keep the padding as desired */
  background-color: #f8f9fa; /* Set background color */
  text-align: center;
  margin-top: 30px; /* Add margin to the top */
  margin-bottom: 30px; /* Add margin to the bottom */
}

.about h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.about p {
  font-size: 1.25rem;
  margin-bottom: 20px;
}

/* Footer styles */
footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-links ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer-links ul li {
  display: inline;
  margin-right: 20px;
}

.footer-links ul li:last-child {
  margin-right: 0;
}

.footer-links ul li a {
  color: #fff;
  text-decoration: none;
}

.footer-info {
  text-align: right; /* Align info to the right */
}

.footer-bottom {
  text-align: center;
  margin-top: 20px; /* Add space between content and bottom */
}

/* Carousel styles */
.card-carousel {
  display: flex; /* Use flexbox layout */
  justify-content: center; /* Center the carousel content horizontally */
  align-items: center; /* Center the carousel content vertically */
  height: 200px;
}

.carousel-slide {
  display: none; /* Hide all slides by default */
}

.current-slide {
  display: block; /* Show the current slide */
}
.carousel-content {
  display: flex; /* Use flexbox layout */
  align-items: center; /* Center items vertically */
  justify-content: center; /* Center items horizontally */
  text-align: center; /* Align text in the center */
}

.carousel-image {
  flex: 1; /* Take up remaining space */
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-image img {
  max-width: 100%; /* Increase the image width */
  max-height: 300px; 
  height: auto;
  /* width: auto; */
}

.carousel-text {
  flex: 1;
  padding: 20px;
}

.carousel-text p {
  font-size: 1.25rem;
}


.card {
  display: flex;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.card-image {
  flex: 1;
}

.card-image img {
  width: 100%;
  height: auto;
}

.card-text {
  flex: 1;
  padding: 20px;
}

.card-text h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.card-text p {
  font-size: 1.25rem;
}

.programs, .campaigns {
  background-color: #f8f9fa;
  padding: 50px 0;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  padding: 50px;
  
}

.program, .campaign {
  max-width: 800px;
  margin: 0 auto;
  text-align: left;
}

.program h2, .campaign h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.program p, .campaign p {
  font-size: 1.25rem;
  margin-bottom: 20px;
}

.program p strong, .campaign p strong {
  color: #007bff; 
}

.program-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 30px;
}

.program-card {
  width: calc(33.33% - 20px);
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin-bottom: 20px;
}

.program-card img {
  width: 100%;
  height: auto;
}

.program-details {
  padding: 20px;
}

.program-details h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.program-details p {
  font-size: 1.25rem;
  color: #666;
}

.donate-button {
  background-color: orange;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.donate-button:hover {
  background-color: darkorange;
}
